*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    background-color: #F8E0E6;
}

header{
    display: flex;
    background-color: #F7819F;
    justify-content: space-between;
}

header h3{
    color: white;
    margin: 0;
    padding: 15px 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.7em;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.2em;
}

header ul a{
    text-decoration: none;
    color: white;

}

header ul li{
    padding: 10px 20px;
    border: 1px solid #F7819F;
}

header ul li:hover{
    border: 1px solid white;
    transition: 0.5s;
}

header ul li.atual{
    border: 1px solid white;
}

div.icons a{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

div.icons .wpp-link{
    background-color: #25d366;
    width: 70px;
    height: 65px;
    color: white;
    border-radius: 50px;
    padding-top: 31px;
    text-align: center;
    font-size: 50px;
    z-index: 1000;
}

/* Menu responsivo */

header .mobile-menu-icon{
    padding: 20px 15px;
    display: none;
    border: 0px solid red;
  }
  
  header .mobile-menu-icon button{
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border: 0px;
  }
  
  header .mobile-menu-icon i{
    color: white;
    font-size: 35px;
  }
  
  .mobile-menu{
    position: fixed;
    position: static;
    width: 100%;
    display: none;
    padding: 10px;
    border-top: 1px solid white;
    background-color: #F7819F;
  }
  
  .mobile-menu a{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .mobile-menu ul{
    padding: 0px;
    text-align: center;
    list-style: none;
  }
  
  .mobile-menu ul li{
    border-bottom: 1px solid white ;
    padding: 15px 5px;
  }
  
  .active{
    display: block;
  }

/* Fim menu responsivo */


/* 
   Cuidados com os cabelos
   Cuidados com a pele
   Maquiagens
   Perfumes 
*/


#cuidadosCabelos, #cuidadosPele, #maquiagem, #perfumes{
    margin: 100px auto;
    width: 1000px;
}

#cuidadosCabelos h2, #cuidadosPele h2, #maquiagem h2, #perfumes h2{
    margin: 40px 0px;
    font-size: 2.5em;
    font-family: serif;
    font-weight: 100;
    padding-left: 20px;
} 

.maisProdutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}

.maisProdutos div{
    padding-top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    width: 21%;
    height: 280px;
}

.maisProdutos div:hover{
    cursor: pointer;
}

.maisProdutos div h4{
    text-align: center;
    font-family: serif;
}

.maisProdutos div img{
    width: 100%;
    height: 75%;
}

/* produtos display-none */

#cuidadosCabelos .display-none, #cuidadosPele .display-none, 
#maquiagem .display-none, #perfumes .display-none{
    display: none;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    background-color: rgba(150, 150, 150, .6);
    backdrop-filter: blur(2px);
}

#cuidadosCabelos .display-none.active, #cuidadosPele .display-none.active,
#maquiagem .display-none.active, #perfumes .display-none.active{
    display: block;
}

.produto{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 450px;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.produto .conteudo{
    color: white;
    background-color: #2E2E2E;
    padding-bottom: 20px;
}

.produto h1{
    font-family: serif;
    margin-top: 70px;
    font-size: 1.6em;
    padding-left: 20px;
}

.produto h3{
    text-align: left;
    font-size: 2em;
    padding-left: 20px;
    font-weight: 100;
}

.produto p{
    font-family: serif;
    padding: 20px;
    font-size: 1.2em;
}

.display-none .saibaMais{
    display: flex;
    column-gap: 10%;
}

.display-none a{
    display: block;
    font-family: serif;
    font-size: 1.2em;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    margin-top: 3px;
    height: 30px;
    padding: 4px 10px;
}

.display-none a:hover{
    cursor: pointer;
    color: #848484;
}

/* Footer */

Footer{
    background-color: #F7819F;
    padding: 10px;
}

Footer h1{
    color: white;
    margin: 20px 0px 30px 0px;
    padding: 15px 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.7em;
}

Footer .flex-bloco8{
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

Footer .flex-bloco8 div{
    border: 1px solid black;
}

.flex-bloco8 h3{
    font-size: 1.8em;
    margin-bottom: 20px;
}

.flex-bloco8 ul{
    list-style: none;
}

.flex-bloco8 ul li{
    margin-top: 8px;
}

.flex-bloco8 .sobre{
    border: 0px solid green;
    width: 30%;
}

.flex-bloco8 .sobre p{
    text-align: start;
}

.flex-bloco8 .categorias{
    margin-left: 50px;
    border: 0px solid green;
    width: 20%;
}

.flex-bloco8 .categorias a{
    text-decoration: none;
    color: white;
}

.flex-bloco8 .categorias a:hover{
    color: gray;
}

.flex-bloco8 .faleConosco{
    border: 0px solid green;
    width: 35%;
}

footer .icones{
    margin: 40px 0px 0px 50px;
}

footer .icones a{
    color: rgba(0, 0, 0, 0.0);
}

footer .icones i{
    margin-left: 15px;
    color: white;
}

footer p{
    margin: 30px 0px 10px 0px;
    color: white;
    text-align: center;
}