/* Header responsivo */
  @media screen and (max-width: 864px){
    header ul li{
      padding: 5px 10px;
    }
    header h3{
      font-size: 2.4em;
    }
  }
  
  @media screen and (max-width: 756px){
    header h3{
      font-size: 2.2em;
    }
    header ul{
      font-size: 1em;
    }
  }

  @media screen and (min-width: 681px){
    .active{
      display: none;
    }
  }
  
  @media screen and (max-width: 680px){
    header ul{
      display: none;
    }
    .mobile-menu{
      top: 76px;
    }
    header .mobile-menu-icon{
      display: block;
    }
    header .mobile-menu-icon button:hover{
      cursor: pointer;
    }
    .mobile-menu a{
      font-size: 1.1em;
    }
  }

  @media screen and (max-width: 370px){
    .mobile-menu a{
      font-size: 0.9em;
    }
    .mobile-menu{
      top: 68px;
    }
  }

  @media screen and (max-width: 310px){
    .mobile-menu{
      top: 59px;
    }
  }

  /* Fim Header responsivo */

  /* Bloco 1 & Bloco 2 */

@media screen and (max-width: 1299px){
    #bloco1{
      width: 100vw;
      height: 400px;
      border: 0px solid red;
    }
 }

@media screen and (max-width: 1140px){
    div.text h1{
        font-size: 2.5em;
    }
    #bloco1{
        width: 95vw;
    }
    #bloco1 div.img{
     width: 40%;
     height: 350px;
    }
    #bloco2{
     top: 350px;
     left: 10%;
     margin: 30px auto;
     overflow: hidden;
     width: 520px;
     height: 160px;
    }
 }  

 @media screen and (max-width: 970px){
    #bloco1{
        column-gap: 10px;
    }
    #bloco1 div.text{
        width: 50%;
    }
    div.text h1{
        padding-left: 1%;
        font-size: 2.1em;
    }
    #bloco1 div.img{
     width: 46%;
     height: 280px;
    }
    #bloco2{
     top: 320px;
     left: 2%;
     margin: 30px auto;
     width: 490px;
     height: 140px;
    }
 }

 @media screen and (max-width: 700px){
    #bloco1{
      margin-top: 120px;
      display: block;
      height: 400px;
    }
    #bloco1 div.text{
      width: 70%;
      text-align: center;
      margin: 15px auto 25px auto;
    }
    #bloco1 div.img{
      width: 60%;
      margin: 0 auto;
    }
    #bloco2{
      position: static;
    }

 } 

 @media screen and (max-width: 620px){
    #bloco1{
      margin: 120px auto 10px auto;
      height: auto;
    }
    #bloco1 div.text{
      width: 70%;
    }
    div.text h1{
      font-size: 1.5em;
    }
    #bloco1 div.img{
      width: 70%;
    }
    #bloco2{
      margin: 15px auto;
      width: 400px;
      height: 120px;
    }
 }

 @media screen and (max-width: 460px){
    #bloco1 div.text{
      width: 80%;
    }
    div.text h1{
      font-size: 1.4em;
    }
    #bloco1 div.img{
      width: 100%;
    }
    #bloco2{
      width: 90vw;
      height: 100px;
    }
    header h3{
      font-size: 2em;
    }
 }

 @media screen and (max-width: 370px){
    #bloco1{
      margin: 100px auto 0px auto;
    }
    #bloco1 div.text{
      margin: 15px auto 25px auto;
      width: 90%;
    }
    div.text h1{
      font-size: 1.2em;
    }
    #bloco1 div.img{
      width: 95%;
      height: 260px;
    }
    #bloco2{
      width: 90vw;
      height: 100px;
    }
    header h3{
      font-size: 2em;
    }
    header .mobile-menu-icon i{
      font-size: 30px;
    }
    header .mobile-menu-icon{
      padding: 15px 5px;
    }
    header .mobile-menu-icon button{
      background-color: rgba(0, 0, 0, 0);
      padding: 10px;
    }  
}

@media screen and (max-width: 310px){
  #bloco1{

  }
  #bloco1 div.text{
    width: 95%;
  }
  div.text h1{
    font-size: 1.1em;
  }
  #bloco1 div.img{
    width: 100%;
    height: 200px;
  }
  header h3{
    font-size: 1.5em;
    padding: 15px 10px;
  }
  header .mobile-menu-icon{
    padding: 10px 5px;
  }
  header .mobile-menu-icon i{
    font-size: 25px;
  }
  #bloco2{    
    margin-top: 20px;
    width: 95vw;
    height: 80px;
  }
}

  /* Bloco marcas */
  @media screen and (max-width: 1299px){
    #marcas{
      width: 95vw;
    }
    #marcas .logoMarcas{
      width: 100%;
    }
    .logoMarcas div{
      width: 18%;
      height: 190px;
    }
  }

  @media screen and (max-width: 1050px){
    #marcas{
      margin: 30px auto;
    } 
    .logoMarcas div{
      width: 18%;
      height: 150px;
    }
  }

  @media screen and (max-width: 850px){
    .logoMarcas div{
      width: 23%;
      height: 110px;
    }
  }

  @media screen and (max-width: 650px){
    .logoMarcas div{
      width: 28%;
      height: 80px;
    }
  }

  @media screen and (max-width: 490px){
    #marcas .logoMarcas{
      justify-content: center;
      column-gap: 25px;
    }
    .logoMarcas div{
      width: 40%;
      height: 100px;
    }
  }

  @media screen and (max-width: 350px){
    .logoMarcas div{
      height: 90px;
    }
  }


  /* Bloco 3 */
  @media screen and (max-width: 1100px){
    #bloco3{
      width: 95vw;
      height: auto;
    }
    #maisVendidos{
      justify-content: space-around;
      column-gap: 40px;
    }
    #maisVendidos div{
      width: 150px;
    }
  }

  @media screen and (max-width: 850px){
    #bloco3{
      margin-top: 100px;
      margin-bottom: 80px;
    }
    #maisVendidos{
      margin-top: 50px;
      column-gap: 30px;
    }
    #maisVendidos div{
      width: 130px;
      height: 270px;
    }
  }

  @media screen and (max-width: 690px){
    #maisVendidos{
      column-gap: 10px;
    }
    #maisVendidos div{
      width: 120px;
      height: 240px;
    }
    #maisVendidos div h4{
      font-size: 0.9em;
    }
  }

  @media screen and (max-width: 590px){
    #bloco3{
      width: 90vw;
      margin-bottom: 50px;
    }
    #bloco3 h2{
      font-size: 2.2em;
    }
    #maisVendidos{
      margin-top: 50px;
      row-gap: 20px;
      flex-wrap: wrap;
    }
    #maisVendidos div{
      width: 140px;
      height: 240px;
    }
    #maisVendidos div h4{
      font-size: 0.9em;
    }
  }

  @media screen and (max-width: 430px){
    #bloco3{
      width: 95vw;
    }
    #bloco3 h2{
      width: 90%;
      font-size: 2em;
    }
    #maisVendidos div{
      width: 130px;
      height: 210px;
    }
    #maisVendidos div h4{
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 306px){
    #bloco3{
      height: auto;
    }
    #bloco3 h2{
      font-size: 1.8em;
    }
    #maisVendidos{
      column-gap: 10px;
    }
    #maisVendidos div{
      width: 100px;
      height: 180px;
    }
    #maisVendidos div h4{
      font-size: 0.8em;
    }
  }

  /* Bloco 4 */
  @media screen and (max-width: 1000px){
    #bloco4{
      padding: 10px;
      width: 95vw;
    }
    #bloco4 #cuidadosPele{
      width: 650px;
      height: 490px;
    }
    #cuidadosPele .titulo{
      font-size: 1.1em;
    }
  }

  @media screen and (max-width: 830px){
    #bloco4 #cuidadosPele{
      width: 550px;
      height: 390px;
    }
    #cuidadosPele .titulo{
      font-size: 1em;
    }
    #cuidadosPele .img1 button{
      width: 170px;
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 700px){
    #bloco4 #cuidadosPele{
      grid-template-rows: repeat(11, 1fr);
      grid-template-columns: repeat(6, 1fr);
      width: 400px;
      height: 540px;
    }
    #cuidadosPele .titulo{
      text-align: center;
      grid-column: 1/7;
      grid-row: 1/1;
      font-size: 0.9em;
    }
    
    #cuidadosPele .img1{
        grid-column: 2/6;
        grid-row: 6/12;
    }
    #cuidadosPele .img2{
      grid-column: 1/4;
      grid-row: 2/6;
    }
    
    #cuidadosPele .img3{
        grid-column: 4/7;
        grid-row: 2/6;
    }
    #cuidadosPele .img1 button{
      width: 170px;
      font-size: 1.2em;
      margin: 10px auto;
      height: 30px;
    }    
  }

  @media screen and (max-width: 540px){
    #bloco4 #cuidadosPele{
      width: 90%;
      height: 490px;
    }
  }

  @media screen and (max-width: 420px){
    #cuidadosPele .titulo{
      font-size: 0.8em;
    }
    #bloco4 #cuidadosPele{
      width: 90%;
      height: 440px;
    }
    #cuidadosPele .img1 button{
      width: 140px;
      font-size: 1.1em;
      height: 25px;
    }  
  }

  @media screen and (max-width: 370px){
    #bloco4{
      padding: 0px;
    }
    #cuidadosPele .titulo{
      font-size: 0.7em;
    }
    #bloco4 #cuidadosPele{
      width: 100%;
      height: 390px;
    }
    #cuidadosPele .img1 button{
      width: 120px;
      font-size: 1em;
      margin: 5px auto;
      height: 20px;
    }  
  }


  /* Bloco 5 */
  @media screen and (max-width: 1000px){
    #bloco5{
      margin-top: 90px;
      padding: 10px;
      width: 95vw;
    }
    #bloco5 #perfumes{
      width: 720px;
      height: 380px;
    }
    #perfumes .titulo{
      padding-top: 30px;
      font-size: 1.3em;
    }
    #perfumes .img1{
        width: 430px;
        height: 200px;
    }
  }

  @media screen and (max-width: 830px){
    #bloco5 #perfumes{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      column-gap: 65px;
      width: 650px;
      height: 310px;
      position: relative;
    }
    #perfumes .titulo{
      padding-top: 10px;
      font-size: 1em;
      font-family: serif;
      font-weight: 100;
      width: 40%;
    }
    #perfumes .img1{
      width: 390px;
      height: 170px;
      bottom: 5%;
      right: 37%;
    }
    #perfumes .img1 button{
      margin-top: 70px;
      font-size: 1.2em;
      width: 180px;
      height: 35px;
    }
  }

  @media screen and (max-width: 700px){
    #bloco5{
      margin-top: 10px;
    }
    #bloco5 #perfumes{
      justify-content: flex-end;
      row-gap: 15px;
      flex-wrap: wrap;
      width: 100%;
      height: 370px;
    }
    #perfumes .titulo{
      text-align: center;
      padding-top: 10px;
      width: 100%;
    }
    #perfumes .img1{
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 20px;
      width: 45%;
      height: 210px;
      bottom: 15%;
      left: 0%;
    }
    #perfumes .img1 img{
      width: 60%;
      height: 150px;
    }
    #perfumes .img1 button{
      width: 150px;
      margin-top: 0px;
    }
    #perfumes .img2{
      margin-right: 5%;
      width: 50%;
      height: 280px;
  }
  }

  @media screen and (max-width: 550px){
    #perfumes .titulo{
      padding-top: 50px;
    }
    #perfumes .img1{
      height: 180px;
    }
    #perfumes .img1 img{
      height: 100px;
    }
    #perfumes .img1 button{
      width: 120px;
      height: 30px;
    }
    #perfumes .img2{
      height: 220px;
    }
  }

  @media screen and (max-width: 420px){
    #bloco5 #perfumes{
      row-gap: 0px;
      height: 330px;
    }
    #perfumes .titulo{
      height: 80px;
      font-size: 0.8em;
    }
    #perfumes .img1{
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 0px;
      height: 160px;
      bottom: 10%;
    }
    #perfumes .img1 img{
      width: 60%;
      height: 70px;
    }
    #perfumes .img1 button{
      font-size: 1.1em;
      width: 100px;
      margin-top: 15px;
      height: 25px;
    }
    #perfumes .img2{
      margin-right: 5%;
      width: 50%;
      height: 190px;
  }
  }

  @media screen and (max-width: 370px){
    #bloco5 #perfumes{
      height: 260px;
    }
    #perfumes .titulo{
      font-size: 0.7em;
    }
    #perfumes .img1{
      height: 140px;
      bottom: 8%;
      left: 0%;
    }
    #perfumes .img1 img{
      width: 60%;
      height: 60px;
    }
    #perfumes .img1 button{
      font-size: 1em;
      width: 80px;
    }
    #perfumes .img2{
      margin-right: 0%;
      width: 55%;
      height: 160px;
  }
  }

  /*
  @media screen and (max-width: 560px){
    #bloco5 #perfumes{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      column-gap: 15px;
      width: 100%;
      height: 220px;
      position: relative;
    }
    #perfumes .titulo{
      padding-top: 10px;
      font-size: 0.8em;
      font-family: serif;
      font-weight: 100;
      width: 40%;
    }
    #perfumes .img1{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 54%;
      height: 90px;
      bottom: 5%;
      right: 40%;
    }
    #perfumes .img1 button{
      margin-top: 40px;
      font-size: 1em;
      width: 100px;
      height: 25px;
    }
  }

  @media screen and (max-width: 420px){
    #bloco5 #perfumes{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      column-gap: 15px;
      width: 100%;
      height: 190px;
      position: relative;
    }
    #perfumes .titulo{
      padding-top: 10px;
      font-size: 0.8em;
      font-family: serif;
      font-weight: 100;
      width: 40%;
    }
    #perfumes .img2{
      width: 45%;
    }
    #perfumes .img1{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 54%;
      height: 70px;
      bottom: 5%;
      right: 40%;
    }
    #perfumes .img1 button{
      margin-top: 25px;
      font-size: 0.8em;
      width: 70px;
      height: 20px;
    }    
  }

  @media screen and (max-width: 370px){
    #bloco5 #perfumes{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      column-gap: 15px;
      width: 100%;
      height: 140px;
      position: relative;
    }
    #perfumes .titulo{
      padding-top: 0px;
      font-size: 0.6em;
      font-family: serif;
      font-weight: 100;
      width: 40%;
    }
    #perfumes .img2{
      width: 45%;
    }
    #perfumes .img1{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 54%;
      height: 50px;
      bottom: 5%;
      right: 40%;
    }
    #perfumes .img1 button{
      margin-top: 20px;
      font-size: 0.5em;
      width: 50px;
      height: 15px;
    } 
  }
  */






  /* Bloco 6 */
  @media screen and (max-width: 1500px){
    #bloco6{
      display: none;
    }
  }
  /* Bloco 7 */
  @media screen and (max-width: 1500px){
    #bloco7{
      display: none;
    }
  }
  /* Bloco entregas */
  @media screen and (max-width: 1500px){
    #entregas{
      display: none;
    }
  }
  /* Bloco 8 */
  @media screen and (max-width: 1500px){
    #bloco8{
      display: none;
    }
  }
  /* Bloco 9 */
  @media screen and (max-width: 1500px){
    #bloco9{
      display: none;
    }
  }
  /* Footer */
  @media screen and (max-width: 1500px){
    #footer{
      display: none;
    }
  }