*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

div#container{
    height: 5000px;
}

header{
    display: flex;
    background-color: #F7819F;
    justify-content: space-between;
}

header h3{
    color: white;
    margin: 0;
    padding: 15px 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.7em;
    border: 0px solid black;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    border: 0px solid green;
    padding: 20px;
    font-size: 1.2em;
}

header ul a{
    text-decoration: none;
    color: white;

}

header ul li{
    padding: 10px 20px;
    border: 1px solid #F7819F;
}

header ul li:hover{
    border: 1px solid white;
    transition: 0.5s;
}

#bloco1{
    margin: 80px auto 0px auto;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 1300px;
}

#bloco1 div.text{
    border: 0px solid red;
    width: 40%;
}

div.text h1{
    font-weight: 100;
    font-size: 3em;
    border: 0px solid green;
    font-family: serif;
    /*font-family: 'Cormorant Garamond', serif;*/
    color: black;
}

#bloco1 div.img{
    border: 0px solid green;
    width: 40%;
    height: 400px;
}

#bloco1 div img{
    width: 100%;
    height: 100%;
}

/* #bloco2 - carrossel */

#bloco2{
    top: 360px;
    left: 130px;
    position: absolute;
    margin: 30px auto;
    overflow: hidden;
    width: 600px;
    height: 200px;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
    column-gap: 2px;
}

.slide{
    width: 8.3%;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100%;
}

/* bloco3 */

#bloco3{
    border: 0px solid green;
    margin: 40px auto;
    width: 1000px;
}

#bloco3 h2{
    font-size: 2.5em;
    font-family: serif;
    font-weight: 100;
    padding-left: 130px;
} 

#maisVendidos{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

#maisVendidos div{
    border: 0px solid red;
    width: 15%;
    height: 300px;
}

#maisVendidos div h4{
    text-align: center;
    font-family: serif;
}

#maisVendidos div img{
    width: 100%;
    height: 60%;
}

/* bloco4 */

#bloco4{
    padding: 60px;
}

#bloco4 #cuidadosPele{
    margin: 0px auto;
    width: 720px;
    height: 550px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    border: 0px solid red;
    padding: 10px;
}

#cuidadosPele .titulo{
    grid-column: 1/4;
    grid-row: 1/3;
    font-size: 1.2em;
    font-family: serif;
    font-weight: 100;
}

#cuidadosPele .img1{
    grid-column: 1/4;
    grid-row: 2/6;
}

#cuidadosPele .img2{
    grid-column: 4/6;
    grid-row: 1/4;
}

#cuidadosPele .img3{
    grid-column: 4/6;
    grid-row: 4/7;
}

#cuidadosPele div img{
    width: 100%;
    height: 100%;
}

/* bloco5 */

#bloco5{
    padding: 60px;
    margin-top: 20px;
}

#bloco5 #perfumes{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border: 0px solid red;
    width: 800px;
    height: 450px;
    position: relative;
}

#perfumes .titulo{
    padding-top: 50px;
    font-size: 1.5em;
    font-family: serif;
    font-weight: 100;
    width: 40%;
}

#perfumes .img1{
    position: absolute;
    width: 220px;
    height: 200px;
    bottom: 10%;
    left: 30%;
}

#perfumes .img2{
    width: 45%;
}

#perfumes div img{
    width: 100%;
    height: 100%;
}

/* bloco6 */

#bloco6{
    margin-top: 80px;
    padding: 15px;
}

#bloco6 h1{
    text-align: center;
    font-family: serif;
    font-size: 3em;
}

#bloco6 .flex-bloco6{
    margin: 50px auto;
    display: flex;
    width: 1200px;
    height: 330px;
    justify-content: space-between;
}

.flex-bloco6 div{
    margin-top: 0px;
    width: 24%;
    position: relative;
}

.flex-bloco6 h2{
    font-family: serif;
    font-size: 1.5em;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: black;
    text-align: center;
}

.flex-bloco6 div img{
    width: 100%;
    height: 100%;
}

/* #bloco7 */

#bloco7{
    margin: 80px auto;
    display: flex;
    border: 0px solid red;
    width: 1200px;
    height: 350px;
    justify-content: center;
    column-gap: 40px;
}

#bloco7 .img{
    border: 0px solid blue;
    width: 40%;
}

#bloco7 .img img{
    width: 100%;
    height: 100%;
}

#bloco7 .conteudo{
    border: 0px solid blue;
    width: 40%;
}

#bloco7 .conteudo h1{
    font-family: serif;
    font-size: 2.5em;
}

#bloco7 .conteudo p{
    margin-top: 30px;
    font-size: 1.4em;
}

/* bloco8 */

#bloco8{
    border: 0px solid green;
    margin: 40px auto;
    width: 1000px;
}

#bloco8 h2{
    font-size: 2.5em;
    font-family: serif;
    font-weight: 100;
    padding-left: 130px;
} 

#maisProdutos{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}

#maisProdutos div{
    padding-top: 20px;
    border: 0px solid black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    width: 21%;
    height: 280px;
}

#maisProdutos div:hover{
    cursor: pointer;
}

#maisProdutos div h4{
    text-align: center;
    font-family: serif;
    border: 0px solid black;
}

#maisProdutos div img{
    width: 100%;
    height: 75%;
    border: 0px solid black;
}

/* Footer */

Footer{
    background-color: #F7819F;
    padding: 10px;
}

Footer h1{
    color: white;
    margin: 20px 0px 30px 0px;
    padding: 15px 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.7em;
    border: 0px solid black;
}

Footer .flex-bloco8{
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    border: 0px solid red;
}

Footer .flex-bloco8 div{
    border: 1px solid black;
}

.flex-bloco8 h3{
    font-size: 1.8em;
    margin-bottom: 20px;
}

.flex-bloco8 ul{
    list-style: none;
}

.flex-bloco8 ul li{
    margin-top: 8px;
}

.flex-bloco8 .sobre{
    border: 0px solid green;
    width: 30%;
}

.flex-bloco8 .sobre p{
    text-align: start;
}

.flex-bloco8 .categorias{
    margin-left: 50px;
    border: 0px solid green;
    width: 20%;
}

.flex-bloco8 .faleConosco{
    border: 0px solid green;
    width: 35%;
}

footer .icones{
    margin: 40px 0px 0px 50px;
}

footer .icones i{
    margin-left: 15px;
}

footer p{
    margin: 30px 0px 10px 0px;
    color: white;
    text-align: center;
}