*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    background-color: #F8E0E6;
}

div#container{
    height: 5000px;
}

div.icons a{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

div.icons .wpp-link{
    background-color: #25d366;
    width: 70px;
    height: 65px;
    color: white;
    border-radius: 50px;
    padding-top: 31px;
    text-align: center;
    font-size: 50px;
    z-index: 1000;
}

header{
    z-index: 1;
    top: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: #F7819F;
    justify-content: space-between;
}

header h3{
    color: white;
    margin: 0;
    padding: 15px 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.7em;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.2em;
}

header ul a{
    text-decoration: none;
    color: white;

}

header ul li.atual{
    border: 1px solid white;
}

header ul li{
    padding: 10px 20px;
    border: 1px solid #F7819F;
}

header ul li:hover{
    border: 1px solid white;
    transition: 0.5s;
}

header ul li.atual{
    border: 1px solid white;
}

/* Menu responsivo */

header .mobile-menu-icon{
    padding: 20px 15px;
    display: none;
    border: 0px solid red;
  }
  
  header .mobile-menu-icon button{
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border: 0px;
  }
  
  header .mobile-menu-icon i{
    color: white;
    font-size: 35px;
  }
  
  .mobile-menu{
    position: fixed;
    width: 100%;
    display: none;
    padding: 10px;
    border-top: 1px solid white;
    background-color: #F7819F;
  }
  
  .mobile-menu a{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .mobile-menu ul{
    padding: 0px;
    text-align: center;
    list-style: none;
  }
  
  .mobile-menu ul li{
    border-bottom: 1px solid white ;
    padding: 15px 5px;
  }
  
  .active{
    display: block;
  }

/* Fim menu responsivo */

#bloco1{
    border: 0px solid red;
    margin: 140px auto 0px auto;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 1300px;
}

#bloco1 div.text{
    border: 0px solid red;
    width: 40%;
}

div.text h1{
    font-weight: 100;
    font-size: 2.9em;
    font-family: serif;
    /*font-family: 'Cormorant Garamond', serif;*/
}

#bloco1 div.img{
    border: 0px solid red;
    width: 40%;
    height: 400px;
}

#bloco1 div img{
    width: 100%;
    height: 100%;
}

/* #bloco2 - carrossel */

#bloco2{
    border: 0px solid red;
    top: 360px;
    left: 10%;
    position: absolute;
    margin: 30px auto;
    overflow: hidden;
    width: 600px;
    height: 200px;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
    column-gap: 2px;
}

.slide{
    width: 8.3%;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100%;
}

/* Marcas */
#marcas{
    border: 0px solid red;
    margin: 40px auto;
    padding: 10px;
    width: 1300px;
}

#marcas .logoMarcas{
   display: flex;
   justify-content: space-between;
   width: 1050px;
   flex-wrap: wrap;
   row-gap: 20px;
   margin: 0px auto;
}

.logoMarcas div{
   border: 0px solid black;
   width: 190px;
   height: 150px;
}

.logoMarcas div img{
    width: 100%;
    height: 100%;
}

/* bloco3 */

#bloco3{
    margin: 120px auto;
    width: 1000px;
}

#bloco3 h2{
    font-size: 2.5em;
    font-family: serif;
    font-weight: 100;
    text-align: center;
} 

#maisVendidos{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

#maisVendidos div{
    width: 15%;
    height: 300px;
}

#maisVendidos div h4{
    text-align: center;
    font-family: sans-serif;
}

#maisVendidos div img{
    width: 100%;
    height: 60%;
}

/* bloco4 */

#bloco4{
    border: 0px solid black;
    margin: 0 auto;
    padding: 60px;
}

#bloco4 #cuidadosPele{
    margin: 0px auto;
    width: 720px;
    height: 550px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}

#cuidadosPele .titulo{
    grid-column: 1/4;
    grid-row: 1/3;
    font-size: 1.2em;
    font-family: serif;
    font-weight: 100;
}

#cuidadosPele .img1{
    grid-column: 1/4;
    grid-row: 2/7;
}

#cuidadosPele .img1 img{
    height: 80%;
}

#cuidadosPele .img1 button{
    font-size: 1.4em;
    color: black;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid black;
    margin: 25px 0px 0px 25%;
    width: 200px;
    height: 40px;
}

#cuidadosPele .img1 button:hover{
    cursor: pointer;
    transition: 0.2s;
    color: #848484;
    border: 1px solid #848484;
}

#cuidadosPele .img2{
    grid-column: 4/6;
    grid-row: 1/4;
}

#cuidadosPele .img3{
    grid-column: 4/6;
    grid-row: 4/7;
}

#cuidadosPele div img{
    width: 100%;
    height: 100%;
}

/* bloco5 */

#bloco5{
    padding: 60px;
    margin: 50px auto 0px auto;
}

#bloco5 #perfumes{
    border: 0px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 65px;
    width: 800px;
    height: 450px;
    position: relative;
}

#perfumes .titulo{
    border: 0px solid red;
    padding-top: 50px;
    font-size: 1.5em;
    font-family: serif;
    font-weight: 100;
    width: 40%;
}

#perfumes .img1{
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 475px;
    height: 200px;
    bottom: 10%;
    right: 37%;
}

#perfumes .img1 button{
    margin-top: 70px;
    font-size: 1.4em;
    color: black;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid black;
    width: 200px;
    height: 40px;
}

#perfumes .img1 button:hover{
    cursor: pointer;
    transition: 0.2s;
    color: #848484;
    border: 1px solid #848484;
}

#perfumes .img1 img{
    width: 45%;
}

#perfumes .img2{
    width: 45%;
    border: 0px solid red;
}

#perfumes div img{
    width: 100%;
    height: 100%;
}

/* bloco6 */

#bloco6{
    border: 0px solid red;
    margin-top: 80px;
    padding: 15px;
}

#bloco6 h1{
    text-align: center;
    font-family: serif;
    font-size: 3em;
}

#bloco6 .flex-bloco6{
    border: 0px solid green;
    margin: 50px auto;
    display: flex;
    width: 1200px;
    height: 330px;
    justify-content: space-between;
}

.flex-bloco6 div{
    margin-top: 0px;
    width: 24%;
    position: relative;
}

.flex-bloco6 div:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}

.flex-bloco6 h2{
    font-family: serif;
    font-size: 1.5em;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: black;
    text-align: center;
}

.flex-bloco6 div img{
    width: 100%;
    height: 100%;
}

/* #bloco7 */

#bloco7{
    border: 0px solid black;
    margin: 80px auto;
    display: flex;
    width: 1200px;
    height: 350px;
    justify-content: center;
    column-gap: 40px;
}

#bloco7 .img{
    width: 40%;
}

#bloco7 .img img{
    width: 100%;
    height: 100%;
}

#bloco7 .conteudo{
    width: 40%;
}

#bloco7 .conteudo h1{
    font-family: serif;
    font-size: 2.5em;
}

#bloco7 .h1-none{
    display: none;
}

#bloco7 .conteudo p{
    margin-top: 30px;
    font-size: 1.3em;
    width: 454px;
}

/* Entregas */

#entregas{
    width: 1200px;
    margin: 0px auto;
    border: 0px solid red;
}

#entregas section{
    margin: 0 auto;
    width: 1000px;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    column-gap: 70px;
}

#entregas .conteudo{
    width: 40%;
    border: 0px solid black;
}

#entregas .conteudo-display-none{
    display: none;
    width: 40%;
    border: 0px solid black;
}

#entregas .conteudo p,
#entregas .conteudo-display-none p{
    font-size: 1.6em;
    padding-top: 60px;
    text-align: center;
}

#entregas .conteudo button,
#entregas .conteudo-display-none button{
    margin: 25px 0px 0px 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    color: black;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid black;
    width: 200px;
    height: 40px;
}

#entregas .conteudo button:hover,
#entregas .conteudo-display-none button:hover{
    cursor: pointer;
    transition: 0.2s;
    color: #848484;
    border: 1px solid #848484;
}

#entregas .img{
    width: 40%;
    height: 300px;
    border: 0px solid black;
}

#entregas .img img{
    width: 100%;
    height: 100%;
}


/* bloco8 */

#bloco8{
    border: 0px solid black;
    margin: 100px auto;
    width: 1000px;
}

#bloco8 h2{
    font-size: 2.5em;
    font-family: serif;
    font-weight: 100;
    padding-left: 130px;
} 

#maisProdutos{
    border: 0px solid red;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}

#maisProdutos div{
    padding-top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    width: 21%;
    height: 280px;
}

#maisProdutos div:hover{
    cursor: pointer;
}

#maisProdutos div h4{
    text-align: center;
    font-family: serif;
}

#maisProdutos div img{
    width: 100%;
    height: 75%;
}

/* Bloco8 display-none */

#bloco8 #display-none{
    display: none;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    background-color: rgba(150, 150, 150, .6);
    backdrop-filter: blur(2px);
}

#bloco8 #display-none.active{
    display: block;
}

#display-none .produto1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 450px;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#display-none .produto1 img{

}

#display-none .produto1 .conteudo{
    color: white;
    background-color: #2E2E2E;
}

#display-none .produto1 h1{
    font-family: serif;
    margin-top: 70px;
    font-size: 1.6em;
    padding-left: 20px;
}

#display-none .produto1 h3{
    text-align: left;
    font-size: 2em;
    padding-left: 20px;
    font-weight: 100;
}

#display-none .produto1 p{
    font-family: serif;
    padding: 20px;
    font-size: 1.2em;
}

/* Bloco9 */

#bloco9{
    border: 0px solid red;
}

#bloco9 #rotas{
    border: 0px solid black;
    margin: 20px auto 50px auto;
    width: 800px;
}

#rotas h1{
    border: 1px solid re;
    font-family: serif;
    font-weight: 100;
    font-size: 2.5em;
    margin: 0px 0px 30px 0px;
}

#rotas iframe{
    width: 100%;
}

/* Footer */

Footer{
    background-color: #F7819F;
    padding: 10px;
}

Footer h1{
    color: white;
    margin: 20px 0px 30px 0px;
    padding: 15px 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.7em;
}

Footer .flex-bloco8{
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

footer .flex-bloco8{
    border: 0px solid black;
}

.flex-bloco8 div{
    border: 0px solid black;
}

.flex-bloco8 h3{
    font-size: 1.8em;
    margin-bottom: 20px;
}

.flex-bloco8 ul{
    list-style: none;
}

.flex-bloco8 ul li{
    margin-top: 8px;
}

.flex-bloco8 .sobre{
    width: 30%;
}

.flex-bloco8 .sobre p{
    text-align: start;
    margin-top: 0px;
}

.flex-bloco8 .sobre h3{
    margin-bottom: 18px;
}

.flex-bloco8 .categorias{
    margin-left: 50px;
    width: 20%;
}

.flex-bloco8 .categorias a{
    text-decoration: none;
    color: white;
}

.flex-bloco8 .categorias a:hover{
    color: gray;
}

.flex-bloco8 .faleConosco{
    width: 35%;
}

footer .icones{
    margin: 40px 0px 0px 50px;
}

footer .icones a{
    color: rgba(0, 0, 0, 0.0);
}

footer .icones i{
    margin-left: 15px;
    color: white;
}

footer p{
    margin: 30px 0px 10px 0px;
    color: white;
    text-align: center;
}